

.start-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(253, 227, 227);
    padding: 44px 35px;
    margin-top: 140px;
    overflow: hidden;
    gap: 20px;
}
.s-right img{
    border-radius: 14px;
    cursor: pointer;
}

.s-left{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.s-left span{
    color: rgb(253, 44, 44);
    font-size: 22px;
    padding-bottom: 10px;
    cursor: pointer;
}
.s-left h1{
    font-size: 45px;
    color: rgb(56, 56, 56);
    margin-bottom: 10px;
    max-width: 550px;
}
.s-left p{
    font-size: 18px;
    color: rgb(95, 95, 95);
    padding: 10px;
    max-width: 600px;
}
.s-left button{
    width: 150px;
    padding: 10px 5px;
    font-size: 20px;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 16px;
    color: white;
    margin-top: 14px;
}
.s-left button:hover{
    transform: scale(1.04);
    transition: .5s;
    background-color: white;
    color: red;
    cursor: pointer;
}


@media (max-width:1000px) {
    .start-box{
        flex-direction: column;
        gap: 70px;
    }
    .s-left{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        text-align: center;
        margin-top: 70px;
    }
    .s-right{
        margin: 30px 5px;
    }
}

@media (max-width:600px){
    .s-right img{
        width: 400px;
    }
}
@media (max-width:430px){
    .s-right img{
        width: 290px;
        height: 290px;
    }
}